/.git
/.ticketer
/_screenshots
/deployments
/frontend
/static
.env
.env.example
.dockerignore
.gitattributes
.gitignore
compose.yaml
config.yaml
config.example.yaml
Dockerfile
LICENSE
README.md
sqlc.yaml
Taskfile.yml
